body,
body * {
    margin:0;
    padding:0;
    vertical-align: top;    
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    min-height: 100vh; /* without min-height there is no top-margin, Why? How thus this work? */
    background-blend-mode: exclusion;
    background-color: cornflowerblue;
    /* background-image: linear-gradient(-90deg, rgb(20, 21, 105), rgb(182, 35, 162)); */
    display: flex; /*enables a flex context for all its direct children.*/
    align-items: center; /*aligns children in horizontal axis */
    justify-content: center; /*aligns children in vertical axis */ 
    font-size: 100%;  
}
    .main{
        flex: 0 0 80%;  /*gives width of 80% for container independently of port-view */
        min-height: 70vh;
        /*min-width: 800px; I added this line because otherwise bottons get out of it*/
        background: url("bg1.png")center/cover no-repeat;   
        position: relative;   
        font-size: 1.2rem;         
    }

    .logInBtn, .signInBtn{
        display: inline-block;
        /*min-width: 150px;  I added this line because otherwise bottons get distorted*/
        /*Is there other way to FIX it???? */
        font-size: 1.5rem;
        padding: 0.5rem 2rem 0.5rem 2rem;
        /* padding: 5px 20px 5px 20px; */
        border-radius: 15px;
        border: none;
        color:white;
        background: rgb(15, 106, 158);
        box-shadow: 1px 2px rgba(255, 255, 255, 0.5);
        outline: none;
    }
    
    .signInBtn{
        position: absolute;
        top: 80%; 
        left: 80%;
    }

    .logInBtn{
        position: absolute;
        top: 80%; 
        left: 60%; 
    }

    .btn {
        cursor:pointer;
    }

    form{
        display:none;   
        background-color: white;  
        color: rgb(182, 177, 177); 
        width: 40vw;        
        text-align: left;
    }

    form > div {
        padding: 4rem;
    }

    .signInForm{
        position: absolute;         
        min-height: 80vh;
        top: -8%;
        left: 50%;       
    }

    .logInForm{
        position: absolute;         
        min-height: 70vh;
        top: 0%;
        left: 50%;       
    }


    h1{
        color: white;
        font-weight: normal;
        position: absolute;
        left:5%;
        top:10%;
    }
    
    .policy{
        position: absolute;
        left:5%;
        top:80%;
        color: white;
        padding-top: 2rem;
    }

    .policy > a {
        color: white;
    }

            .btnInputS,
            .btnInputL{
                position: absolute;
                top: 80%; 
                left: 15%;
                color: white;   
                background-color: #0063DA;
                border: none;
                padding: 0.5rem 2.5rem 0.5rem 2.5rem;
                border-radius: 20px;
                font-size: 1rem;
            }

            .btnLastS,
            .btnLastL{
                position: absolute;
                /* padding: 0rem 1rem 0rem 1rem; */
                top: 81%; 
                left: 50%;       
            }

            .btnLastS > span,
            .btnLastL > span{
                padding-left: 2rem;
                padding-right: 0.1rem;
              color:grey; 
            }

            #btnLastS,
            #btnLastL{
                color: #0063DA;  
                /* padding: 0rem 0.5rem 0rem 0.5rem; */
                line-height: 1.5rem;
                font-size: 1rem;
                font-weight: bolder;  
            }

        .inputT{
            width:90%; 
            margin-left:1rem;
            margin-bottom: 1.2rem;
            border:none;
            border-bottom: 2px solid grey;  
            font-size: 1rem;                 
        }

        label{
            width:90%;
            margin-left:1rem;
            font-size: 0.8rem; 
        }


        .closeBtn{
            color: grey;
            float: right;
            padding: 1.5rem;
            padding-right: 2.2rem;
            font-size: 2rem;
            z-index:1;          
        }

        .closeBtn:hover{
            color: black; 
            cursor: pointer; 
        }

        .closeBtn:active{
            font-weight:bold;   
        }
        
        @media all and (max-width: 900px) {
           
            .main{
                min-width: 660px;
                flex: 0 0 80%;
            }
            form{
                min-width: 400px;
                }
                form > div {
                    padding-left: 1.5rem;
                    padding-right: 1.5rem;
                }
            .logInBtn, .signInBtn{
                min-width: 130px; 
            }

            .btnInputS,
            .btnInputL{
                padding: 0.5rem 2rem 0.5rem 2rem;
               
            }
        }

     